<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Basic</title>
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script>
        $(function(){
            function selectData(){
                $('#output').empty();

                $.getJSON('/products', function(data){
                    $(data).each(function(index, item){
                        var output = '';
                        output += '<tr>';
                        output += '     <td>'+item.id+'</td>';
                        output += '     <td>'+item.name+'</td>';
                        output += '     <td>'+item.modelnumber+'</td>';
                        output += '     <td>'+item.series+'</td>';
                        output += '</tr>';
                        $('#output').append(output);    
                    });
                });
            }

            // 선택한 열의 데이터를 input에 넣는다.
            $('#output').delegate('td', 'click', function(){
                var id = $(this).closest('tr').find('td:eq(0)').text();
                var name = $(this).closest('tr').find('td:eq(1)').text();
                var modelnumber = $(this).closest('tr').find('td:eq(2)').text();
                var series = $(this).closest('tr').find('td:eq(3)').text();
                
                $('input[name=id]').attr('value', id);
                $('input[name=name]').attr('value', name);
                $('input[name=modelnumber]').attr('value', modelnumber);
                $('input[name=series]').attr('value', series);
            });

            // 추가 버튼의 method
            $('#insert_form').submit(function(event){
                event.preventDefault();

                var data = $(this).serialize();

                $.post('/products', data, selectData);
            });
            selectData();

            // 수정
            $("#change").click(function(event){
                event.preventDefault();

                var id = $('input[name=id]').val();
                // var name = $('input[name=name]').val();
                // var modelnumber = $('input[name=modelnumber]').val();
                // var series = $('input[name=series]').val();

                var data = $('#insert_form').serialize();

                $.ajax({
                    url: '/products/'+id,
                    type: 'put',
                    data: data, 
                    success: function(data){
                         // 연결이 성공 되면 output을 다시 그린다.
                         $.getJSON('/products', function(data){
                        $('#output').empty();

                        $(data).each(function(index, item){
                            var output = '';
                            output += '<tr>';
                            output += '     <td>'+item.id+'</td>';
                            output += '     <td>'+item.name+'</td>';
                            output += '     <td>'+item.modelnumber+'</td>';
                            output += '     <td>'+item.series+'</td>';
                            output += '</tr>';
                        $('#output').append(output);    
                    });
                });
                    }
                })

            });



            // 삭제 method
            $("#delete_on").click(function(event){
                // 기존에 있던 event를 막아준다.
                event.preventDefault();

                var id = $('input[name=id]').val();

                $.ajax({

                    // app.delete에서 원하는 url은 /products/'선택된 id' 이다.
                    url: '/products/'+id,
                    type:'delete',
                    success: function(data){
                        
                        // 연결이 성공 되면 output을 다시 그린다.
                        $.getJSON('/products', function(data){
                        $('#output').empty();

                        $(data).each(function(index, item){
                            var output = '';
                            output += '<tr>';
                            output += '     <td>'+item.id+'</td>';
                            output += '     <td>'+item.name+'</td>';
                            output += '     <td>'+item.modelnumber+'</td>';
                            output += '     <td>'+item.series+'</td>';
                            output += '</tr>';
                        $('#output').append(output);    
                    });
                });
                    }
                })
            });


        });
    </script>
</head>
<body>
    <div>
        <form id="insert_form">
        <fieldset>
            <legend>데이터 추가</legend>
            <table>
                <tr>
                    <td><label>아이디</label></td>
                    <td><input type="text" name="id" readonly></td>
                </tr>
                <tr>
                    <td><label>상품명</label></td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td><label>모델 번호</label></td>
                    <td><input type="text" name="modelnumber" /></td>
                </tr>
                <tr>
                    <td><label>시리즈</label></td>
                    <td><input type="text" name="series" /></td>
                </tr>
            </table>
            <input type="submit" value="추가" />
            <input type="button" value="수정" id="change" />
            <input type="button" value="삭제" id="delete_on" />
        </fieldset>    
    </form>
    </div>
    <table id="output" border="1">

    </table>
</body>
</html>
